a {
  cursor: default;
  pointer-events: none;
}
.container {
  width: 90%;
  height: auto;
  margin: auto;
  padding: 0px;
  position: relative;
}
#carousel {
  width: 600px;
  height: 400px;
  overflow: hidden;
  padding: 0px;
  position: relative;
  border: solid 1px black;
}
.box {
  -webkit-transition: transform 1s;
  transition: transform 1s;
  position: absolute;
  z-index: 1;
  width: 600px;
  height: 400px;
}
.jump {
  -webkit-transition: transform 0s;
  transition: transform 0s;
  position: absolute;
  z-index: 1;
  width: 600px;
  height: 400px;
}
#box1 {
    left: 0px;
  background-color: lavender;
}
#box2 {
  left: -600px;
  background-color: blue;
}
#box3 {
  left: -1200px;
  background-color: green;
}
button {
  top: 200px;
  display: block;
  z-index: 1000;
  position: relative;
  border: none;
  background-color: transparent;
  outline: none;
}
button:focus {
  border: none;
}
#left-button {
  float: left;
}
#right-button {
  float: right;
}
